.channel-bar-container{
    display: flex;
    position: relative;
    height: 100vh;
    left: auto;
    flex-direction: column;
    width: 250px;
    max-width: 250px;
    margin-right: 1px;
    margin-left: 20px;
        background-color: #2f3136;


  .channel-bar{
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;

    .channel-list{
      flex-direction: column;
      justify-content: space-around;
      height: 400px;
      width: inherit;
      list-style-type: none;
      padding: 0;
      display: flex;

      // justify-content: space-between;
      
      


    
    }

    .channel-name{
             color: #FFFFFF;
             align-self: center;
    }

  }
      .btn-logout{
        width: 100px;
      }

 

}

.fa-gear{
  margin-bottom: 10px;
  color: white;
  align-self: center;
}

#server-title-caption{
  font-size: 20px;
  margin-top: 20px;
      color: #FFFFFF;
      align-self: center;
      // border-bottom: 1px solid #808080;
      padding: 20px 20px;
  
}

// #gear-icon{
//   background-image:asset_url("gear-icon.png");
//   background-size: cover;
//   width: 50px;
//   height: 50px;
//   margin-bottom: 10px;
// }