.body{

  background:asset_url("distro_splash.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 2000px;
  margin: 0;
  width: 100%;
  
  
  

 


 

  .center-display{
    display: flex;
    align-items: flex-end;

    .center-text{

    }

    .center-btns{


    }



  }
}