.messages-container{
  height: 100vh;
  width: 865px;
  display: flex;
  flex-direction: column;
  background-color: #36393f;
   color: #FFFFFF;
   
  // justify-content: flex-end;

  #message-window-title{
    // border-bottom: 1px solid #201f1f;
    font-size: 20px;
    padding: 20px 0px;
    padding-left: 30px;
  }
  
  #messages-and-form-container{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // padding-bottom: 25px;

    #messages {

      #message-window-interface{
        display: flex;
        flex-direction: column-reverse;
        // overflow: auto;
        overflow: auto;
        height: 85vh;
        padding-right: 15px;
        padding-left: 30px;
        
        #current-user-message{
          align-self: flex-end;
          display: flex;
          text-align: right;
        }
        #other-user-message{
          align-self: flex-start;
          display: flex;
          text-align: left;
          justify-items: left;
        }
        #timestamp{
          align-self: center;
          display: flex;
        }
      }

    }
    
    #messageForm {

      #message-input{
        width: 800px;
        height: 44px;
      }

      #message-send{
        height: 50px;
        width: 57px;
      }
    }

  }
}

textarea:focus, input:focus{
    outline: none;
}

#current-user-message, #other-user-message {
  background-color: inherit;

}

.message-username{
  font-size: 14px;
  padding: 3px 0px;
}

.message-time{
  font-size: 10px;
  padding: 3px;
  color: #72767D;
}

