// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-background{  
  display: flex;
  align-items: center;
  justify-content: center;
 
  background:asset_url("register_splash.gif");
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 2000px;
  // margin: 0;

  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  .login-form-container{
    // background-color: transparentize($color: black, $amount: 0.3);
    background-color: rgb(65, 62, 62);
    border-radius: 5px;
    width: 450px;
    height: 440px;
    
    // padding: 30px;
    display: flex;
    align-items: center;

   color: whitesmoke;
   font: bolder;
   font-family: sans-serif;
   font-size: larger;

    .login-input:focus{
      background-color: rgb(65, 62, 62);
      color: whitesmoke;
    }

    .login-input{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 240px;
      // padding: 10px;
      // height: 18px;
      // width: 392px;

    

      .welcome-back{
        color: white;
        // color: #7289da;
        font-size: 18;
        margin-left: 120px;
      }

      .welcome-subcaption{
        color: rgb(209, 202, 202);
        // color: #7289da;
        margin-top: -10px;
        margin-left: 60px;
      }

      .login-email, .login-password{
        color: rgb(209, 202, 202);
        font-size: smaller;
      }

      .error-label{
          color: rgb(247, 0, 0);
          font-size: smaller;
        }

      .login-submit-button{
        background-color: #7289da;
        color: white;
        cursor: pointer;
        text-justify: inherit;
        background-color: #7289da;
        color: white;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 186px;
        padding-right: 186px;
        margin-top: 20px;
        border-radius: 5px;
        border: 2px solid #7289da;
      }

      .register-link{
        font-size: small;
        margin-top: 10px;
        
        .redirect-register{
          text-decoration: none;
          color: #7289da;
        }
      }

    }


  }
}

.signup-background{

  display: flex;
  align-items: center;
  justify-content: center;
 
  background:asset_url("register_splash.gif");
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 2000px;
  // margin: 0;

  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  


  .signup-form-container{
    // background-color: transparentize($color: black, $amount: 0.3);
    background-color: rgb(65, 62, 62);
    border-radius: 5px;
    width: 35%;
    height: 500px;
    display: flex;
    flex-direction: column;

    color: whitesmoke;
    font: bolder;
    font-family: sans-serif;
    font-size: larger;

    form{
      height: 350px;
    }
    
    .signup-input{
      
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      // padding-right: 240px;
      width: 390px;
      height: 18px;

      .create-account-caption{
        padding-left: 150px;
      }


      .signup-username, .signup-email, .signup-password{
        color: rgb(209, 202, 202);
      }

      .signup-submit-button{
        text-justify: inherit;
        background-color: #7289da;
        color: white;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 178px;
        padding-right: 178px;
        margin-top: 20px;
        border-radius: 5px;
        border: 2px solid #7289da;

      }

      .login-link{
        font-size: small;
        margin-top: 10px;
        
        .redirect-login{
          text-decoration: none;
          color: #7289da;
          
          
        }
      }

    }
  }
}




