// Place all the styles related to the Api::Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#members-caption{
  font-size: 20px;
  margin-top: 20px;
}

#member{
  list-style: none;
  color: green;
  margin-top: 20px;
  margin-left: 20px;
}