// Place all the styles related to the Api::Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#subscription-container{
  background-color: #2f3136;
  width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#members-caption{
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 20px;
}

#member{
  list-style: none;
  color: rgb(23, 216, 23);
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
}

